<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\App\AbstractAction">
        <plugin name="projecteight_autologin_magento_backend_app_abstractaction"
                type="ProjectEight\AutoLogin\Plugin\Magento\Backend\App\AbstractAction"
                sortOrder="50"/>
    </type>
</config>
