<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_data_object_login">
        <observer name="projecteight_currencypercustomerexample_listener"
                  instance="ProjectEight\CurrencyPerCustomerExample\Frontend\Observer"/>
    </event>
</config>
