<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ProjectEight_PersistenceLayerExample::WhatsIt" title="ProjectEight" translate="title"
             module="ProjectEight_PersistenceLayerExample"
             sortOrder="10" resource="ProjectEight_PersistenceLayerExample::WhatsIt" />
        <add id="ProjectEight_PersistenceLayerExample::WhatsIt_view" title="WhatsIts" translate="title"
             module="ProjectEight_PersistenceLayerExample"
             sortOrder="10" resource="ProjectEight_PersistenceLayerExample::WhatsIt_view"
             parent="ProjectEight_PersistenceLayerExample::WhatsIt" action="projecteight_persistencelayerexample/whatsit/index"
             dependsOnModule="ProjectEight_PersistenceLayerExample" />
    </menu>
</config>
