<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="addtask" xsi:type="object">ProjectEight\ToDo\Console\Command\Addtask</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="ProjectEight\ToDo\Model\ResourceModel\Task\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">projecteight_task</argument>
			<argument name="resourceModel" xsi:type="string">ProjectEight\ToDo\Model\ResourceModel\Task\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="projecteight_task_grid_data_source" xsi:type="string">ProjectEight\ToDo\Model\ResourceModel\Task\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
