<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ProjectEight_PersistenceLayerExample::WhatsIt" sortOrder="10" title="WhatsIt">
                    <resource id="ProjectEight_PersistenceLayerExample::WhatsIt_save" sortOrder="10"
                              title="Save WhatsIt"/>
                    <resource id="ProjectEight_PersistenceLayerExample::WhatsIt_delete" sortOrder="20"
                              title="Delete WhatsIt"/>
                    <resource id="ProjectEight_PersistenceLayerExample::WhatsIt_update" sortOrder="30"
                              title="Update WhatsIt"/>
                    <resource id="ProjectEight_PersistenceLayerExample::WhatsIt_view" sortOrder="40"
                              title="View WhatsIt"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
